*{
    margin: 0;
    padding: 0;
}

body{
    height: 800px;
    display: flex;
    text-align: -webkit-center;
}

.title{
    background-color: black;
    color: red;
    text-align: center;
    margin: 50px;
    font-size: 40px;
}

.holder{
margin: auto;
}

table tr td{
    height: 50px;
    width: 50px;
}

.box1{
    background-color: black;
    border: 1px solid black;
}

.box2{
    background-color: red;
    border: 1px solid black;
}